Package: com.cgm616.csgozeppelinlogos
Name: CSGO Zeppelin Logos
Version: 0.0.0-1
Architecture: iphoneos-arm
Description: CSGO-related logos for Zeppelin!
Maintainer: cgm616 <cgm616+cydia@gmail.com>
Author: madhav908 <madhav908+cydia@gmail.com>
Section: Addons (Zeppelin) 
